include *.rst
include *.txt
include tox.ini
include .isort.cfg
include *.py # test_*.py
include *.yml
include .coveragerc

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
include docs/_static/.gitkeep

recursive-include scripts *.py
